.contacts {
  padding: 60px 102px;
  max-width: 684px;
}

.contacts__address {
  font-style: normal;
}

.contacts__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.contacts__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.contacts__phone,
.contacts__email {
  text-decoration: none;
  color: $primary-color;
}
