.faq {
  background-color: $primary-background;
}

.faq__wrapper {
  padding: 50px 102px 100px;
  display: flex;
  justify-content: space-between;
}

.faq__buttons {
  max-width: 260px;
}

.faq__button {
  width: 260px;
  height: 54px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: $primary-color;
  background-color: transparent;
  border: 1px solid rgba(16, 38, 84, 0.2);
}

.faq__button--current {
  color: $secondary-color;
  background-image: linear-gradient(97deg, #ed0233 17%, #003eb7 93%);
  border: none;
}

.faq__group {
  display: none;
}

.faq__group--current {
  display: flex;
  flex-direction: column;
  min-width: 860px;
}

.faq__question {
  font-size: 24px;
  font-weight: 400;
}

.faq__answer {
  display: none;
}

.faq__answer--active {
  display: block;
  font-size: 18px;
}
