.main-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 102px;
  background: linear-gradient(to right, #1c3477, #1c3477, #1a3578, #73184b, #b4022a);
}

.main-header__contact-number-link {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: $secondary-color;
  text-decoration: none;
}
