.season-ticket {
  margin-top: 48px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 0;
    gap: 30px;
    justify-content: center;
  }
}

.season-ticket__wrapper {
  min-width: 290px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 114px 156px;
  column-gap: 7%;
  grid-template-rows: 6px 124px 60px;
  row-gap: 40px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 114px 185px;
    column-gap: 8%;
    grid-template-rows: 10px 170px 56px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 114px 270px;
    column-gap: 0;
    grid-template-rows: 54px 220px 66px;
  }
}

.season-ticket__description {
  margin: 0;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.season-ticket__buy {
  grid-column: 2;
  grid-row: 1 / 3;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.season-ticket__text {
  font-family: "Alumni Sans", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.season-ticket__title {
  margin: 0;
  font-family: "Alumni Sans", sans-serif;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
  }
}

.season-ticket__link {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: inherit;
  border: 2px solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 2;
  }
}

.season-ticket__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 524px;
  }
}
