@font-face {
  font-family: "Alumni Sans";
  src:
    url("../../fonts/alumni-sans/alumni-sans-600-semi-bold.woff")  format("woff"),
    url("../../fonts/alumni-sans/alumni-sans-600-semi-bold.woff2")  format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src:
    url("../../fonts/alumni-sans/alumni-sans-800-extra-bold.woff")  format("woff"),
    url("../../fonts/alumni-sans/alumni-sans-800-extra-bold.woff2")  format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../../fonts/roboto-condensed/roboto-condensed-300-light.woff")  format("woff"),
    url("../../fonts/roboto-condensed/roboto-condensed-300-light.woff2")  format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../../fonts/roboto-condensed/roboto-condensed-400-regular.woff")  format("woff"),
    url("../../fonts/roboto-condensed/roboto-condensed-400-regular.woff2")  format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../../fonts/roboto-condensed/roboto-condensed-700-bold.woff")  format("woff"),
    url("../../fonts/roboto-condensed/roboto-condensed-700-bold.woff2")  format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
