// файл с переменными - они пригодятся, например, для обозначения цвета, чтобы не писать его всё время в хексе
$primary-background: #f8f9fc;
$secondary-background: #1c3374;
$accent-background: #ed0233;
